*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    font-family: sans-serif,arial;
}
a{
    text-decoration: none;
    color: inherit;
}
ul li{
    list-style-type: none;
}
.app{
    width: 80%;
    margin: auto;
}
